
# Core dependencies (from sam-audio pyproject.toml, excluding torch stack)
audiobox_aesthetics
einops
laion-clap @ git+https://github.com/lematt1991/CLAP.git
pydub
perception-models @ git+https://github.com/facebookresearch/perception_models@unpin-deps
imagebind @ git+https://github.com/facebookresearch/ImageBind.git
dacvae @ git+https://github.com/facebookresearch/dacvae.git
torchcodec
torchdiffeq
sam3 @ git+https://github.com/facebookresearch/sam3.git
ultralytics



